<h1> Data Science Tools and Ecosystem </h1>


In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives:</strong>
* 1. List 
* 2. Create tables in Markdown.
* 3. Rename your notebook.
* 4. Write comments in python

Some of the popular languages that Data Scientists use are: 
* 1. Python
* 2. Java
* 3. C++
* 4. C   
* 5. SQL

Some of the commonly used libraries used by Data Scientists include:
* 1. NumPy
* 2. Pandas
* 3. SciPy

|Data Science Tools|
| ------ | 
|Python  | 
|R| 
|MySQL  |

<h3> Data Science Tools and Ecosystem </h3>

In [19]:
#The first thing this operation does is multiply 3 by 4, which results in 12, then add 5 and the total would be 17.
(3*4)+5

17

In [ ]:
#Here 200 minutes will be converted to hours, therefore, for this we will use the conversion, that is, 
#200 will be divided by 60, since there are that many minutes in an hour.

200/60

<h2>Author</h2>
Katy Huayanay Calderon